@import'dashboard';

body{
    background: rgba(224, 220, 220, 0.767);
}

.container{
    width: 100%;
}

.container-fluid{
  width: 80%;
}

.logo{
    width: 35px;
}

.content{
    width: 50%;

}

.form{
    width: 40%;
    height: 100%;
    margin:  100px auto auto  auto;
    background: white;
    border-radius: 5px;

}

.form-floating{
    width: 98%;
    margin: auto;
}

.d-grid{
    width: 98%;
    margin: auto;
}


